.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characters__image {
  width: 600px;
  height: 200px;
  margin-bottom: 25px;
}

.characters__list {
  width: 1100px;
}

.characters__container {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.characters__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
}

.characters__empty {
  height: 45vh;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
}
