.input__wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: solid 1px grey;
}

.input__wrapper_filter {
  max-width: 240px;
  padding: 15px 5px;
  border-radius: 10px;
  justify-content: center;
}

.input__wrapper_filter svg {
  margin-right: 10px;
}

.input__wrapper_form {
  max-width: 208px;
  border: none;
  justify-content: start;
}

.input__wrapper_form .input:focus {
  border-bottom: solid 1px #000000;
}

.input {
  border: none;
  outline: none;
}

.input__default {
  max-width: 178px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.input__small {
  max-width: 101px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.25px;
}
