.header {
  height: 60px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header__logo {
  width: 46px;
  height: 49px;
  margin-left: 210px;
}

.header__buttons {
  margin-right: 210px;
  width: 120px;
  display: flex;
  justify-content: space-around;
}

.header__btn {
  padding: 5px;
  height: 38px;
  width: 38px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
