.characterCard {
  padding: 0 7px;
  width: 522px;
  height: 248px;
  border: solid 1px #ffffff;
  border-radius: 6px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  position: relative;
}

.characterCard_edited {
  opacity: 1;
  visibility: visible;
}

.characterCard__image {
  border-radius: 8px;
  width: 240px;
  height: 234px;
}

.characterCard__info {
  padding: 0 10px;
  width: 270px;
  flex-shrink: 0;
}

.characterCard__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.characterCard__name {
  height: 33px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
  color: #000000de;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.characterCard__actions {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: end;
}

.characterCard:hover .characterCard__actions {
  opacity: 1;
  visibility: visible;
}

.characterCard__edit .characterCard__actions {
  opacity: 1;
  visibility: visible;
}

.characterCard__button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.characterCard__list {
  margin-top: 10px;
  line-height: 21px;
  letter-spacing: 0.25px;
}

.characterCard__item {
  margin-bottom: 1px;
  color: #3f3f3f;
  font-size: 16px;
  font-weight: 500;
}

.characterCard__item-text {
  width: 200px;
  height: 20px;
  margin: 0;
  margin-bottom: 5px;
  color: #00000099;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.characterCard_edited .characterCard__item-text {
  overflow: visible;
  white-space: normal;
}
