.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading_image {
  animation: spin 4s linear infinite;
}

.loading_text {
  font-size: 18px;
  font-weight: 700;
}

.loading_small .loading_image {
  width: 103px;
  height: 101px;
}

.loading_large .loading_image {
  width: 475px;
  height: 465px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
