.status {
  margin-left: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status__green {
  background-color: #12b800;
}

.status__red {
  background-color: #df0000;
}

.status__orange {
  background-color: #ff9900;
}
